<!DOCTYPE html>
<html
    lang="en"
    style="background-color: rgba(0, 0, 0, 0); width: 100%; height: 100%"
>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Growtopia Player Support</title>
        <link
            rel="icon"
            type="image/png"
            href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/images/growtopia.ico"
            sizes="16x16"
        />
        <link
            rel="shortcut icon"
            href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/images/growtopia.ico"
            type="image/x-icon"
        />
        <link
            rel="icon"
            href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/images/growtopia.ico"
            type="image/x-icon"
        />
        <!-- include bootstrap and custom  css -->
        <link
            media="all"
            rel="stylesheet"
            href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/css/faq-main.css"
        />
        <!-- include custom  css -->
        <link
            media="all"
            rel="stylesheet"
            href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/css/shop-custom.css"
        />
        <link
            media="all"
            rel="stylesheet"
            href="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/assets/css/ingame-custom.css"
        />
        <style>
            .modal-backdrop {
                background-color: rgba(0, 0, 0, 0.1);
            }
            .modal-backdrop + div {
                overflow: auto;
            }
            .modal-body,
            .content {
                padding: 0;
            }
            /* Background box orange transparan */
            .modal-content {
                background-color: rgba(255, 140, 0, 0.85);
                border: none;
            }
            /* Aksen kuning pada tombol registrasi */
            .modal-content form:last-child input[type="submit"] {
                color: #FFEB3B !important;
                text-shadow: 0 0 2px #000;
            }

            /* Tambahan biar dashboard rapih */
            #dashboardBox {
                padding: 20px;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 10px;
                color: white;
                text-align: center;
                margin-top: 20px;
            }
        </style>
    </head>
    <body style="background-color: rgba(0, 0, 0, 0)">
        <button
            type="button"
            class="btn btn-primary hidden"
            data-toggle="modal"
            id="modalButton"
            data-target="#modalShow"
            data-backdrop="static"
            data-keyboard="false"
        ></button>
        <div class="content">
            <section class="common-box">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div
                                    class="modal fade product-list-popup"
                                    id="modalShow"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-hidden="false"
                                >
                                    <div
                                        class="modal-dialog modal-dialog-centered"
                                        role="document"
                                    >
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="content">
                                                    <section class="common-box">
                                                        <div class="container">
                                                            <div
                                                                class="section-title center-align"
                                                            >
                                                                <h2>
                                                                    Login to MazdaPS
                                                                </h2>
                                                            </div>
                                                            <div
                                                                class="row div-content-center"
                                                            >
                                                                <div
                                                                    class="col-md-12 col-sm-12"
                                                                >
                                                                    <form
                                                                        method="POST"
                                                                        action="/player/growid/login/validate"
                                                                        accept-charset="UTF-8"
                                                                        class=""
                                                                        role="form"
                                                                        id="loginForm"
                                                                        required="required"
                                                                        autocomplete="off"
                                                                    >
                                                                        <input
                                                                            name="_token"
                                                                            type="hidden"
                                                                            value="[object Object]"
                                                                        />
                                                                        <div class="form-group">
                                                                            <input
                                                                                id="loginGrowId"
                                                                                class="form-control grow-text"
                                                                                placeholder="Your GrowID Name *"
                                                                                name="growId"
                                                                                type="text"
                                                                            />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <input
                                                                                id="loginPassword"
                                                                                class="form-control grow-text"
                                                                                placeholder="Your GrowID Password *"
                                                                                name="password"
                                                                                type="password"
                                                                                value=""
                                                                            />
                                                                        </div>
                                                                        <div
                                                                            id="errorDiv"
                                                                            class="alert alert-danger hidden"
                                                                        >
                                                                            <span
                                                                                id="errorMessage"
                                                                            ></span>
                                                                        </div>
                                                                        <div class="form-group text-center">
                                                                            <input
                                                                                id="loginButton"
                                                                                class="btn btn-lg btn-primary grow-button"
                                                                                type="submit"
                                                                                value="Login"
                                                                            />
                                                                        </div>
                                                                    </form>
                                                                    <form
                                                                        method="POST"
                                                                        action="/player/growid/login/validate"
                                                                        accept-charset="UTF-8"
                                                                        class=""
                                                                        role="form"
                                                                    >
                                                                        <input
                                                                            name="_token"
                                                                            type="hidden"
                                                                            value=""
                                                                        />
                                                                        <input
                                                                            name="growId"
                                                                            type="hidden"
                                                                            value=""
                                                                        />
                                                                        <input
                                                                            name="password"
                                                                            type="hidden"
                                                                            value=""
                                                                        />
                                                                        <input
                                                                            class="btn btn-lg btn-primary grow-button"
                                                                            type="submit"
                                                                            value="Don't have any MazdaPS? Register here!"
                                                                        />
                                                                    </form>

                                                                    <!-- DASHBOARD SECTION -->
                                                                    <div
                                                                        id="dashboardBox"
                                                                        class="hidden"
                                                                    >
                                                                        <h3>
                                                                            Welcome,
                                                                            <span
                                                                                id="displayGrowId"
                                                                            ></span>
                                                                            👋
                                                                        </h3>
                                                                        <p>
                                                                            You are
                                                                            logged in
                                                                            successfully
                                                                        </p>
                                                                        <button
                                                                            id="logoutButton"
                                                                            class="btn btn-danger"
                                                                        >
                                                                            Logout
                                                                        </button>
                                                                    </div>
                                                                    <!-- END DASHBOARD -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/vendors/jquery/jquery-2.1.4.min.js"></script>
    <script src="https://s3.eu-west-1.amazonaws.com/cdn.growtopiagame.com/website/resources/vendors/bootstrap/javascripts/bootstrap.min.js"></script>
    <script>
        let clicked = false;
        $('a').click(function () {
            if (clicked === false) {
                clicked = true;
                return true;
            }
            $(this).attr('onclick', 'return false;');
        });
        $('document').ready(function () {
            document.onkeydown = e => {
                if (e.key == 123 || e.key == 'F12') e.preventDefault();
                if (e.ctrlKey && e.shiftKey && ['I', 'C', 'J'].includes(e.key))
                    e.preventDefault();
                if (e.ctrlKey && e.key == 'U') e.preventDefault();
            };
            $('#modalButton').trigger('click');
            $('.close').on('click', function () {
                window.location = '/player/validate/close';
            });
            var observer = new MutationObserver(function (mutations) {
                mutations.forEach(function (mutation) {
                    for (var i = 0; i < mutation.addedNodes.length; i++) {
                        if (mutation.addedNodes[i].tagName == 'DIV') {
                            var thediv = mutation.addedNodes[i];
                            var sw = window.screen.width;
                            if (sw < 667) {
                                $(thediv).css({
                                    transform: 'scale(0.75)',
                                    'transform-origin': '0 0',
                                    '-webkit-transform': 'scale(0.75)',
                                    '-webkit-transform-origin': '0 0',
                                    overflow: 'auto',
                                });
                            }
                        }
                    }
                });
            });
            observer.observe(document.body, {
                attributes: false,
                childList: true,
                characterData: false,
            });
        });
    </script>
    <script>
        // LOGIN FIX
        document.addEventListener('DOMContentLoaded', function () {
            const savedGrowId = localStorage.getItem('growId');

            // Kalau sudah ada growId tersimpan → langsung ke dashboard
            if (savedGrowId) {
                document.getElementById('loginForm').classList.add('hidden');
                document
                    .getElementById('dashboardBox')
                    .classList.remove('hidden');
                document.getElementById('displayGrowId').innerText = savedGrowId;
            }

            const loginButton = document.getElementById('loginButton');
            if (loginButton) {
                loginButton.addEventListener('click', function (event) {
                    event.preventDefault();

                    const uName =
                        document.getElementById('loginGrowId').value.trim();
                    const uPass =
                        document.getElementById('loginPassword').value.trim();

                    if (!uName || !uPass) {
                        document
                            .getElementById('errorDiv')
                            .classList.remove('hidden');
                        document.getElementById('errorMessage').innerText =
                            'Username or Password is empty';
                        return;
                    } else if (uName.length < 4 || uPass.length < 4) {
                        document
                            .getElementById('errorDiv')
                            .classList.remove('hidden');
                        document.getElementById('errorMessage').innerText =
                            'Username or Password must be at least 4 characters long';
                        return;
                    }

                    // Simpan ke localStorage
                    localStorage.setItem('growId', uName);

                    // Tampilkan dashboard
                    document
                        .getElementById('loginForm')
                        .classList.add('hidden');
                    document
                        .getElementById('dashboardBox')
                        .classList.remove('hidden');
                    document.getElementById('displayGrowId').innerText = uName;
                });
            }

            // Tombol logout
            const logoutButton = document.getElementById('logoutButton');
            if (logoutButton) {
                logoutButton.addEventListener('click', function () {
                    localStorage.removeItem('growId');
                    location.reload();
                });
            }
        });
    </script>
</html>
